<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DBLibUDC_21_01ConnectionString" connectionString="Data Source=НИКИТА-ПК;Initial Catalog=DBLibUDC_21_01;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>